<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fb-page" data-href="https://www.facebook.com/collegebasketisverige/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/collegebasketisverige/"><a href="https://www.facebook.com/collegebasketisverige/">Collegebasket i Sverige</a></blockquote></div></div>
                <br /><br />
                Made with ❤ by Teodor Wójcik
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>


<!-- jQuery -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>